h3{
  color: purple;
}
h2{
  text-align: center;
  color: maroon;
  background-color: rgba(163, 170, 168, 0.984);
  padding: 20px;
  font-size: 30px;
}
.normal{
  font-size: 25px;
  color: green;
}
.error{
  font-size: 25px;
  color: red;
}
button{
  font-size: 20px;
  color: white;
  background-color: purple;
  border-radius: 15px;
  height: 40px;
  width: 50px;

}
